* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030; 
}

header {
    background-color: #2965f1;
    padding: 23px 0 23px;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0 60px;
    min-height: 100vh;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-weight: 400;
    font-size: 18px;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color: #fff;
    padding: 100px 0;
}

select {
    width: 150px;
    padding: 9px 12px;
    font-weight: 400;
    font-size: 16px;
    appearance: none;
    background: url(./arrow.svg) no-repeat right 12px top 50%;


}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image: url(./arrow2.svg);
    padding: 0px 20px;
    font-weight: 400;
    font-size: 16px;
}

.books-list {
    font-weight: 400;
    font-size: 16px;
    padding: 0px 20px;
}

.label {
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    background-color: rgba(255, 255, 255, 0);
    padding: 9px 12px;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    border: none;
    border-radius: 5px;
    background: #2965f1;
    width: 125px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    /* Стили для таблицы */
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
    border: 1px solid #95a1bb;
}

th {
    font-weight: 700;
}

footer {
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0px;
}

.footer-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
}